body{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(8, 8, 8);
}

#img{
  border-width: medium;
  border-style: solid;
  border-color: #000;
}

#logo{
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5%;
    display: flex;
}

#logo{
    max-width: 250px;
    height: 250px;
    height: auto;
    width:auto    
}

h1{
    text-justify: center;
    width: 100%;
    font size: 75px;;
}
img{
    width: 500px;
}

.receita1{
    float: left;
    
}

.receita2{
    float: right;
    text-align: left;
    padding-top: 0%;
}

.br{
    clear: both;
}